.grid-schedule .teacher,
.grid-schedule .room,


.h1 .class-info:after,
.h2 .class-info:after,
.h1:before,
.h2:before,
.h1:after,
.h2:after,
.teacher-name,
.br-checkbox {
    display: none !important;
}


.class-name {
    font-size: 2.2rem;
}



    {
    display: none;
}